.game__icon {
    font-size: 77px;
    height: 77px;
    width: 77px;
}

.game__icon--green {
    color: green;
}

.game__icon--red {
    color: red;
}

.game__button {
    width: 50%;
}

.game__button--left {
    border-radius: 5px 0px 0px 5px;
}

.game__button--right {
    border-radius: 0px 5px 5px 0px;
}