.game__icon {
    font-size: 77px;
    height: 77px;
    width: 77px;
}

.game__icon--green {
    color: green;
}

.game__icon--red {
    color: red;
}

.game__buttons-container {
    display: flex;
}

.game__buttons-container * {
    width: 50%;
}