.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: grey;
}

.toolbar__lead-button {
    width: 40px;
}
.toolbar__title {
    flex: 1 1 auto;
}

.content {
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}