<div class="container">
    <mat-toolbar>
        <div class="toolbar__lead-button">
            <button *ngIf="section !== PATHS.home" mat-icon-button aria-label="Go back" matTooltip="Go back" (click)="goBack()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
        </div>
        <span class="toolbar__title">{{title}}</span>
        <button *ngIf="section === PATHS.home" mat-icon-button aria-label="Ranking" matTooltip="Ranking" (click)="goToRanking()">
            <mat-icon>score</mat-icon>
        </button>
        <button *ngIf="section === PATHS.game" mat-icon-button aria-label="Audio On/Off" matTooltip="Audio On/Off" (click)="mute()">
            <mat-icon *ngIf="!muted">volume_up</mat-icon>
            <mat-icon *ngIf="muted">volume_off</mat-icon>
        </button>
    </mat-toolbar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>